span {
    letter-spacing: -1em;
}

h1 { 
    text-align: center;
    font-size: 4em;
    margin-top: 230px;
    font-family: Consolas;
}

h1 span:nth-child(1) {
    color: #4285f4;
}
h1 span:nth-child(2) {
    color: #a52f25;
}
h1 span:nth-child(3) {
    color: #fbbc05;
}
h1 span:nth-child(4) {
    color: #4285f4;
}
h1 span:nth-child(5) {
    color: #34a853;
}
h1 span:nth-child(6) {
    color: #a52f25;
}

input:focus { outline: none; }

input.form-control {
    border: 1px solid grey;
    border-radius: 15px;
    width: 500px;
    height: 30px;
}

input::-webkit-input-placeholder {
    color: grey;
    padding-left: 2em;
}
input:-ms-input-placeholder {
    color: grey;
    padding-left: 2em;
}
textarea::-webkit-input-placeholder {
    color: grey;
    padding-left: 2em;
}
textarea:-ms-input-placeholder {
    color: grey;
    padding-left: 2em;
}

.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}


#s-box:foucs { outline: none; }
.box:focus { outline: none; }
